$blue-lighter: oklch(80.9% 0.105 251.813);
$blue-primary: oklch(70.7% 0.165 254.624);
$blue-darker: oklch(62.3% 0.214 259.815);

$red-lighter: oklch(81% 0.117 11.638);
$red-primary: oklch(71.2% 0.194 13.428);
$red-darker: oklch(64.5% 0.246 16.439);

$black-lighter: oklch(26.9% 0 0);
$black-primary: oklch(20.5% 0 0);
$black-darker: oklch(14.5% 0 0);

$grey-text: oklch(70.8% 0 0);
$grey-lighter: oklch(55.6% 0 0);
$grey-primary: oklch(43.9% 0 0);
$grey-darker: oklch(37.1% 0 0);
